header {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(#012a4a, #0e5c97);
  position: relative;
  color: #a9d6e5;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  
} 
/* Imported font from Google */
h1 {
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: xx-large;
}
/* Used flex box styling to center elements on the webpage */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #a9d6e5; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
    bottom: 0;
    left: 5px;
    right: 10px;
    position: fixed;
    background-image: linear-gradient(#012a4a, #0e5c97);
    color: #a9d6e5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  text-align: left;
}

#append-weather{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#012a4a, #0e5c97);
  box-shadow: 5px 5px 5px #020a11;
  color: #a9d6e5;
}

button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 150px;
  text-align: center;
  background-color: #012a4a;
  color: whitesmoke;
  padding: 5px;
}

button:hover {
color: #012a4a;
background-color: whitesmoke;

}
img {
  width:125px;
  height:125px;
}
/* container with elements inside */
#append-data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 300px solid black;
  font-size: large;
}

.about-us{
  max-width: 500px;
}

/* media query for iPad Pro (1024x1366) */
@media screen and (max-width: 1024px){
  header {
    font-size: x-large;
  }
  h1 {
    font-size: xx-large;
  }
}

/* media query for iphone X (375x812) */
@media screen and (max-width: 375px){
  header {
    max-width: 375px;
    width: 100%;
    font-size: medium;
  }
  input {
    width: 200px;
    margin: 0 auto;
  }
  button {
    width: 80px;
  }
}
