body {
  display: flex;
  justify-content: center;
  align-items: column-reverse;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  }

h1 {
  display: flex;
  justify-self: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
  display: flex;
  align-content: flex-end;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
}

button {
  width: 100px;
}

input {
  width: 200px;
}

/* 
Colors: 
D8F3DC
B7E4C7
95D5B2
74C69D
52B788
40916C
2D6A4F
1B4332
081C15

*/